<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech X</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
  <div>
    <header>
      <h1 class="nav-item">
        <a class="nav-link" href="/">Just Tech</a>
      </h1>
      <h3 class="nav-item">
        {{#if loggedIn}}
          <a class="nav-link" href="/dashboard">Your Dashboard</a>
      </h3>
      <nav class="nav-link">
         <button id="logout" class="nav-link active">logout</button>
        {{else}}
         <a class="nav-link navbar-right" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="main-body">
      {{{ body }}}
    </main>
    <footer class="nav justify-content-center">
      <h3 class="nav-item">
        <a class="nav-link" href="/">Tech X</a>
      </h3>
      <h3 class="nav-item">
        <a class="nav-link" href="https://github.com/MichaelPappas2662">Michael Pappas</a>
      </h3>
      <h3 class="nav-item">
        <a class="nav-link" href="https://github.com/MichaelPappas2662/Tech-Blog">Blog Repo</a> 
      </h3>
      <h3 class="nav-item">
        <a class="nav-link" href="mailto:mixalis.pappas23@gmail.com">Email</a>
      </h3>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}

</body>

</html>