<section class="container">
  <p class="wrong font f500"> </p>
    <form class="form post-form font">
        <div class="form-group">
          <input class="form-input" type="text" id="post-title"  placeholder="Title" required/>
        </div>
      <div class="form-group">
        <textarea class="form-input" type="text" id="post-description"  placeholder="Description" required></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary log" type="submit" id="postButton">Create Post</button>
      </div>
    </form>
</section>