<section class="redirect">
    <img class="person" src="/images/login.svg"/>
    <p class="font f400 signup validate">You must login to access this page</p>
    <a href="/login"><button>Log In</button></a>
</section>