{{> post-info post }}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="submit-btn">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
<script src="/public/js/upvote.js"></script>
{{/if}}